# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Backend (Python)
backend/__pycache__/
backend/*.py[cod]
backend/*.$py.class
backend/.venv/
backend/venv/
backend/env/
backend/.env
backend/*.log

# Project Specific Data
backend/labtrack.db
backend/static/uploads/*
!backend/static/uploads/.gitkeep

# Frontend (Node.js)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.lock-wscript

# Logs
logs/
*.log
